<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamswanproject20200313.team_swan_project_20200313">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
